.container {
  display: flex;
  align-items: center;
  height: 24px;
}

.label {
  padding-inline: 8px 2px;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: -0.15px;
  color: rgb(26 26 26 / 0.5);
  cursor: pointer;

  [data-agentation-theme="dark"] & {
    color: rgb(255 255 255 / 0.5);
  }
}
